@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Average+Sans|Work+Sans:400,300,700);
@import url(https://cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css);
@import url(../vendor/styles/icomoon.css);
@import url(../vendor/styles/devicons.css);

body {
  max-width: 1080px;
  background-color: #FFFFFF;
  margin: 0 auto;
}

article {
  display: flex;
  clear: both;
}

img {
  max-width: 100%;
}

.main-name {
  font-family: 'Comfortaa', sans-serif;
  font-size: 4em;
  padding: .25em;
  margin: 0 auto;
}
