{% extends 'index.jinja2' %}
{% block body %}
  <h1>{{ article.title }}</h1>
  <hr />
  <p> Created <strong>{{ article.date_created }}</strong></p>
  <hr />
  <p>{{ article.body }}</p>
  <a class="icon-books nav-item-1" data-tabs="edit_article" href="{{ request.route_url('edit_view', id=article.id) }}"></a><a class="nav-item-2" data-tabs="educationTab" href="{{ request.route_url('edit_view', id=article.id) }}">Edit</a>
{% endblock %}
