<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/styles/normalize.css" media="all and (max-width: 1080px)">
    <link rel="stylesheet" href="../static/styles/base.css" charset="utf-8">
    <link rel="stylesheet" href="../static/styles/layout.css" charset="utf-8">
    <link rel="stylesheet" href="../static/styles/modules.css" charset="utf-8">
    <link rel="stylesheet" href="../static/styles/state.css" charset="utf-8">
    <link rel="stylesheet" href="../static/styles/theme.css" charset="utf-8">
    <title>This is my learning journal</title>
  </head>
  <body>
    <header>
      <section class="headline">
        <img src="" alt="" />
        <h1 class="main-name">jeff torres</h1>
      </section>
      <section class="navigation">
        <a class="icon-menu" id="nav-menu"></a>
        <nav class="nav-container">
            <section class="nav-item">
              <a class="icon-home2 nav-item-1"  href="/"></a>
              <a class="nav-item-2" href="/">Home</a>
            </section>
            <section class="nav-item">
              <a class="icon-stack nav-item-1" data-tabs="new_article" href="/journal/new_entry"></a>
              <a class="nav-item-2" data-tabs="projectTab" href="/journal/new_entry">New Articles</a>
            </section>
            <section class="nav-item">
              <a class="icon-books nav-item-1" data-tabs="edit_article" href="/journal/edit_view/1"></a>
              <a class="nav-item-2" data-tabs="educationTab" href="/journal/edit_view/1">Edit</a>
            </section>
            <section class="nav-item">
              <a class="icon-user-tie nav-item-1" data-tabs="aboutMe" href="#"></a>
              <a class="nav-item-2" data-tabs="aboutMeTab" href="#">About Me</a>
          </section>
        </nav>
      </section>
    </header>
    <main>
      <form action="" id='new-article-entry'>
          <fieldset>
            <legend>Enter in a new article</legend>
            <input type="text" name="title" placeholder="Article Title" id='title' required>
            <input type="text" name="body" placeholder="Article Body" id='body' required>
            <input type="submit" name="Submit" value="Submit" id='sub'>
          </fieldset>
        </form>
    </main>
    <footer>
      <section>

      </section>
    </footer>
  </body>
</html>
