{% extends "index.jinja2" %}
{% block body %}
  {% if articles %}
    {% for article in articles %}
      <article>
        <h2><a href="{{ request.route_url('detail_view', id=article.id) }}">{{ article.title }}</a></h2>
        <hr />
        <p>Created <strong>{{ article.date_created }}</strong></p>
      </article> -->
    {% endfor %}
  {% else %}
    <p>This journal is empty</p>
  {% endif %}
{% endblock %}

{% block new_article %}
<section class="nav-item">
  <a href="{{ request.route_url('entry_view') }}">New Articles</a>
</section>
{% endblock %}
