{% extends 'index.jinja2'}
{% block nav %}
<header>
  <section class="headline">
    <img src="" alt="" />
    <h1 class="main-name">jeff torres</h1>
  </section>
  <section class="navigation">
    <a class="icon-menu" id="nav-menu"></a>
    <nav class="nav-container">
        <section class="nav-item">
          <a class="icon-home2 nav-item-1"  href="{{ request.route_url('home') }}"></a>
          <a class="nav-item-2" href="{{ request.route_url('home') }}">Home</a>
        </section>
        <section class="nav-item">
          <a class="icon-stack nav-item-1" data-tabs="new_article" href="{{ request.route_url('entry_view') }}"></a>
          <a class="nav-item-2" data-tabs="projectTab" href="{{ request.route_url('entry_view') }}">New Articles</a>
        </section>
        <section class="nav-item">
          <a class="icon-books nav-item-1" data-tabs="edit_article" href="{{ request.route_url('edit_view', id=entry.id) }}"></a>
          <a class="nav-item-2" data-tabs="educationTab" href="{{ request.route_url('edit_view', id=entry.id) }}">Edit</a>
        </section>
        <section class="nav-item">
          <a class="icon-user-tie nav-item-1" data-tabs="aboutMe" href="#"></a>
          <a class="nav-item-2" data-tabs="aboutMeTab" href="#">About Me</a>
      </section>
    </nav>
  </section>
</header>
{% endblock %}
